.button {
	background: #fff;
	border: 2px solid #C1D1DE;
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 14px;
	font-family: "Montserrat",sans-serif;
	transition: all 0.3s ease-in-out;

	&:hover {
		border-color: $main-color;
		cursor: pointer;
	}
}