.search-form {
	margin: 0;

	&--box {
		border-radius: 20px 0 0 20px;
		transition: all 0.3s ease-in-out;
		width: 230px;

		&:focus {
			border-color: $main-color;
		}
	}

	&--type {
		margin-left: -2px;
		padding: 5px 10px;
	}

	&--submit-btn {
		@extend .button;
		background: #353D52;
		color: #fff;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -2px;
	}
}

input[type="search"], select {
	color: #fff;
	background: #353D52;
	border: 2px solid #AFB6C6;
	padding: 5px 15px;
	font-size: 14px;
	font-family: "Montserrat",sans-serif;
	height: 34px;
}

@media (max-width: 480px) {
	input[type="search"], select, input[type="submit"] {
		display: block;
		width: 100%;
		border-radius: 0;
		margin-bottom: 5px;
	}

	.search-form {
		&--type {
			margin-left: 0;
		}

		&--submit-btn {
			margin-left: 0;
		}
	}
}

