.search-form {
	margin: 0;

	&--box {
		border-radius: 20px 0 0 20px;
		transition: all 0.3s ease-in-out;
		width: 350px;

		&:focus {
			border-color: $main-color;
		}
	}

	&--type {
		border-radius: 0 20px 20px 0;
		margin-left: -2px;
		padding: 5px 40px 5px 10px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		text-indent: 1px;
		text-overflow: "";
		background-image: url("http://webin.fi/wordpress/wp-content/themes/webin/dist/images/arrow-down.png");
		background-position: right 15px center;
		background-repeat: no-repeat;
	}

	&--submit-btn {
		@extend .button;
		background: $main-color;
		color: #fff;
		margin-left: 15px;
		border: 0;
		padding: 7px 15px;

		&:hover {
			background: darken($main-color, 5%);
		}

		&:disabled {
			background: #C1D1DE;
		}
	}
}

input[type="text"], select {
	color: #fff;
	background: #353D52;
	border: 2px solid #AFB6C6;
	padding: 5px 15px;
	font-size: 14px;
	font-family: "Montserrat",sans-serif;
	height: 34px;
}

@media (max-width: 767px) {
	.search-form {
		&--box {
			width: 100%;
		}

		&--type {
			margin-bottom: 5px;
			width: 30%;
		}

		&--submit-btn {
			display: block;
			width: 100%;
			margin-left: 0;
		}
	}
}

@media (max-width: 480px) {
	input[type="text"], select, input[type="submit"] {
		display: block;
		width: 100%;
		border-radius: 0;
		margin-bottom: 5px;
	}

	.search-form {
		&--type {
			margin-left: 0;
			border-radius: 0;
			width: 100%;
		}
	}
}