.movie-card {
	@extend .col, .col--1-of-5, .col--m-1-of-2;
	margin-bottom: 25px;

	&--cover {
		height: 300px;
		background-size: cover;
		background-position: bottom;
	}

	&--title {
		margin: 5px 0 0;
		font-weight: 400;
	}

	&--year {
		color: #A7B5C2;
		margin: 0;
	}
}

@media (max-width: 480px) {
	.movie-card {
		&--cover {
			background-position: center;
			height: 250px;
		}
	}
}