.movie-modal {
	position: fixed;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	padding: 15px;
	overflow-y: auto;

	&--box {
		max-width: 900px;
		height: 500px;
		margin: 0 auto;
		background: #fff;
		@extend .vertical-align;
		transition: all 0.2s ease-in-out;
		transform: translateY(-10%);
	}

	&--poster-container {
		background: #CBD7DD;
		height: 100%;
		padding: 25px;
	}

	&--poster {
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	&--decription-container {
		padding: 25px;
		position: relative;
	}

	&--header {
		font-size: 21px;
		text-transform: uppercase;
		font-weight: 400;
		margin: 0 0 10px;
		width: 80%;
	}

	&--meta {
		margin: 0 0 25px;
		font-size: 14px;
	}

	&--rated {
		background: #DEDEDE;
		color: #fff;
		padding: 0 6px;
		border-radius: 5px;
	}

	&--runtime {
		margin-left: 10px;
		color: $main-color;
	}

	&--imdb-review {
		position: absolute;
		right: 30px;
		top: 30px;
	}

	&--imdb-rating {
		font-size: 35px;
		line-height: 35px;
		display: block;
		color: $main-color;
		text-align: right;
		margin-bottom: 5px;
	}

	&--imdb-votes {
		font-size: 13px;
		color: $grey-text;
		display: block;
		text-align: right;
	}

	&--hr {
		border: 0;
		border-top: 1px solid #DEDEDE;
	}

	&--plot {
		margin: 30px 0;
	}

	&--crew {
		margin: 0 0 15px;
	}

	&--crew-label {
		font-weight: 600;
	}

	&--close-btn {
		margin-top: 35px;
		padding: 5px 20px;
	}

	&.open {
		opacity: 1;
		visibility: visible;
		background-color: rgba(#353D52, 0.95);

		.movie-modal--box {
			transform: translateY(-50%);
		}
	}
}

body.modal-open {
	overflow: hidden;
}

@media (max-width: 768px) {
	.movie-modal {
		&--box {
			height: auto;
			position: static;
		  top: 0;
		  margin-bottom: 15px;
		}

		&--poster-container {
			display: none;
		}

		&--decription-container {
			padding: 15px;
		}

		&--imdb-review {
			top: 15px;
			right: 15px;
		}

		&--imdb-rating {
			font-size: 30px;
			line-height: 30px;
		}

		&--close-btn {
			margin-top: 5px;
		}

		&--meta {
			margin-bottom: 15px;
		}

		&--plot {
			margin: 15px 0;
		}

		&.open {
			.movie-modal--box {
		  	transform: translateY(0);
		  }
	  }
	}
}