.typeahead {
	display: inline-block;
	position: relative;
}

.typeahead-selector {
	margin: -2px 0 0;
	padding: 0;
	position: absolute;
	list-style-type: none;
	background: #353D52;
  width: 100%;

  li {
  	border-left: 2px solid $light-grey;
  	border-right: 2px solid $light-grey;
  }

  li:first-child {
  	border-top: 2px solid $light-grey;
  	padding-top: 3px;
  }

  li:last-child {
  	border-bottom: 2px solid $light-grey;
  	padding-bottom: 3px;
  }

  .hover .typeahead-option {
  	color: $main-color;
  }
}

.typeahead-option {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 4px 10px;

	&:hover {
		color: $main-color;
	}
}

@media (max-width: 767px) {
	.typeahead {
		width: 70%;
	}
}

@media (max-width: 480px) {
	.typeahead {
		display: block;
		width: 100%;
	}
}
