@import 'toast-grid';
@import 'vars';
@import 'layout';
@import 'movie-card';
@import 'navbar';
@import 'buttons';
@import 'footer';
@import 'movie-modal';
@import 'forms';

@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #353D52;
	margin: 0;
	background: #F2F2F2;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

img {
	max-width: 100%;
}

.show-more-container {
	text-align: center;
	padding: 40px 0;
}

.show-more-btn {
	padding: 10px 20px;
}

.ajax-loader {
	width: 44px;
	height: 44px;
}

.search-results {
	padding-top: 15px;
}

@media (max-width: 480px) {
	.show-more-container {
		padding: 20px 0 30px;
	}
}