@import 'toast-grid';
@import 'movie-card';
@import 'navbar';
@import 'buttons';

@import url("https://fonts.googleapis.com/css?family=Roboto|Montserrat|Source+Sans+Pro");

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #353D52;
	margin: 0;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

img {
	max-width: 100%;
}

.search-box {
	color: #fff;
	background: #353D52;
	border: 2px solid #AFB6C6;
	padding: 5px 15px;
	border-radius: 20px;
	transition: all 0.3s ease-in-out;
	font-size: 14px;
	font-family: "Montserrat",sans-serif;

	&:focus {
		border-color: #00B7FF;
	}
}